<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404160754855-q42tjmsbd58lfi9c9d8kqsv73h5vn70v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404160754855-q42tjmsbd58lfi9c9d8kqsv73h5vn70v</string>
	<key>API_KEY</key>
	<string>AIzaSyCxTqKukj57DBr01Mr0tHOKbNiN1pFYFN4</string>
	<key>GCM_SENDER_ID</key>
	<string>404160754855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acmchallenge.acmChallenge</string>
	<key>PROJECT_ID</key>
	<string>acm-challenge-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>acm-challenge-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404160754855:ios:d9a6432aad019e4a2c5782</string>
	<key>DATABASE_URL</key>
	<string>https://acm-challenge-shop-default-rtdb.firebaseio.com</string>
</dict>
</plist>